<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header ">
        Acceder
      </div>

      <div class="card-body">
        <form #formLogin="ngForm" (submit)="signin()">
          <div class="form-group">
            <!-- ngmodel envia los campos a la clase ts-->
            <!-- error hay que importar import { FormsModule }-->
            <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>

          </div>

          <div class="form-group">
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required autofocus>

          </div>

          <button type="submit" class= "btn btn-primary btn-block" [disabled]="!formLogin.form.valid">
            Entrar
          </button>

          <div *ngIf="mostrar">
            <p class="text-danger">El correo o contraseña incorrecta *</p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>